# Configuração de Preço e Ambiente
PRODUCT_PRICE_BRL=9900
NODE_ENV=development

# URL de Checkout Tradicional da sua Plataforma de Vendas (Ex: Pepperpay, Kiwify, Hotmart)
# Seus clientes serão redirecionados diretamente para este link com Name/Email/Phone preenchidos automaticamente.
PLATFORM_CHECKOUT_URL=https://go.pepperpay.com.br/kr4d0
PLATFORM_CHECKOUT_PREMIUM_URL=https://go.pepperpay.com.br/8qyq7
